*{
    justify-content: center;
}.box1{
    height:85%;
    width:25%;
    border-color:slategrey;
    margin-left:500px;
    text-align: center;
    border:solid;
    padding:10px 20px 1px 20px;
    margin-top: 50px;
    border-width:1px;



}
img{
    height:50%;
    width:75%;
    padding:10px 10px 15px 10px;
}
#bindu{
    background-color: whitesmoke;
    width:300px;
    height:30px;
    margin:20px 30px 10px 30px;
    padding:10px;
    border:1px solid rgb(216,211,211);
}
#vijaya{
    background-color:whitesmoke;
    width:300px;
    height:30px;
    margin:0px 30px 10px 30px;
    padding:10px;
    border:1px solid rgb(216,211,211)

}
button{
    background-color:#3399ff;
    color:white;
    border:none;
    border-radius:7px;
    width:320px;
    height:30px;
    padding:5px 100px;
    margin:3px 30px 10px 30px;
    font-size:15px;
    font-weight: 600px;
}
h4{
    color:slategray;
   margin-top:4px;
    
}
h5{
    color:slategray;
    font-size:15px;
    font-weight:600px;
    font-style: normal;

}
h6{
    color:slategray;
    font-size:14px;
    cursor:pointer;
    margin-top:3px;
    font-weight: 300px;
}

.box2{
    
    height:40%;
    width:26%;
    border-color: slategrey;
    padding:17px 14px 17px 14px;
    border:solid;
    border-width: 1px;
    text-align:center;
    margin-top:10px;
    margin-left:500px;
    
}
.pen{
    font-weight:300px;


}
span{
    color:#3399ff;
    cursor:pointer;
}
p{
    
    color:slategrey;
    
    font-size:16px;
    padding:20px;
    margin-left:650px;
    margin-top:2px;
    
    

    
    
}

/* .hello{
    height:50px;
    width:160px;
    color:white;
    background-color:black;
    
    border-radius:5px;
    margin-left:540px;
    
    padding:5px 5px 5px 5px;
    font-size:10px;
    text-align:end;
    margin-top:2px;
} */
